/**
 * Variables
*/

$color-black: #000;
$color-dark: #262626;
$color-white: #fff;

$color-blue: #0E6ED6;
$color-blue-2: #0552A5;
$color-blue-3: #003D7F;
$color-aqua: #00A89F;

$color-blue-dark: #1A2F45;
$color-blue-light: #7D91A2;
$color-blue-light-2: #D8DFE7;

$color-grey: #7D91A2;
$color-light-grey: #f6f6f6;

$color-red: #ff0000;
$color-red-primary: #fa0f00;

/* Fonts */
$font-base: Arial, Helvetica, sans-serif;
$font-default: 'Noto Sans', $font-base;
$font-jakarta: 'Plus Jakarta Sans', $font-base;
$font-icon: 'icomoon';
